.button {
  margin: 0;
  padding: 8px 20px;
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &--primary {
    color: $color-base-white;
    background-color: $color-base-primary;

    &:hover,
    &:focus {
      background-color: $color-primary-lighter;
    }

    &:active {
      background-color: $color-primary-darker;
    }

    &:default {
      background-color: $color-base-grey;
    }
  }

  &--secondary {
    color: $color-base-primary;
    background-color: $color-base-white;
  }

  &:hover,
  &:focus {
    color: $color-base-white;
    background-color: $color-primary-lighter;
  }

  &:active {
    color: $color-base-white;
    background-color: $color-primary-darker;
  }

  &:default {
    color: $color-base-white;
    background-color: $color-base-grey;
  }
}
