.footer {
  padding: 22px 20px 30px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 42px 20px 30px 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px auto;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
    gap: 0 30px;
  }
}

.footer__about-us-wrapper {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0 0 27px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 20px 0;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 318px;
  }
}

.footer__image {
  @media (min-width: $desktop-width) {
    margin: 0 0 10px 0;
  }

  @media (min-width: $desktop-width-max) {
    margin: 0 0 6px 0;
  }
}

.footer__logo-image {
  @media (min-width: $tablet-width) {
    width: 170px;
    height: 36px;
  }
}

.footer__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 0 50px 0;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 20px;
}

.footer__social-link {
  padding: 10px;
  width: 40px;
  height: 40px;
  display: block;
  color: $color-base-grey;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: $color-base-primary;
    background-color: $color-base-secondary;
  }

  &:active {
    color: $color-base-primary;
    background-color: $color-primary-opacity;
  }
}

.footer__information-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 0 0;
  }

  @media (min-width: $desktop-width-max) {
    justify-content: flex-start;
  }
}

.footer__shop,
.footer__media {
  padding: 20px 0 12px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 0 0;
    max-width: 317px;
  }

  @media (min-width: $desktop-width-max) {
    margin: 0 124px 0 0;
  }
}

.footer__contacts {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 223px;
  }

  @media (min-width: $desktop-width-max) {
    width: 317px;
  }
}

.footer__title {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-base-primary;
  letter-spacing: 0.3px;

  &--contacts {
    margin: 0 0 20px 0;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item {
  margin: 0 0 16px 0;
}

.footer__link {
  text-decoration: none;
  color: $color-base-black;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  &:hover,
  &:focus {
    color: $color-primary-lighter;
  }

  &:active {
    color: $color-primary-darker;
  }
}

.footer__address {
  padding: 0 0 0 19px;
  margin: 0 0 16px 0;
  font-style: normal;
  background-image: url("../../img/background-images/address.svg");
  background-color: $color-base-white;
  background-repeat: no-repeat;
}

.footer_phone {
  padding: 0 0 0 19px;
  text-decoration: none;
  color: $color-base-black;
  background-image: url("../../img/background-images/phone.svg");
  background-color: $color-base-white;
  background-repeat: no-repeat;
}

.footer__copyright {
  margin: 0 auto;
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 22px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 12px 0 0 0;
  }
}

.footer__copyright-text {
  margin: 0 3px 0 0;
  text-decoration: none;
  color: $color-base-grey;
  font-size: 12px;
  line-height: 16px;
}

.footer__copyright-link {
  text-decoration: none;
  color: $color-base-grey;
  font-size: 12px;
  line-height: 16px;
}

.footer__copyright-logo-image {
display: block;

  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    color: $color-primary-darker;
  }
}
