.footer {
  padding: 22px 20px 30px 20px;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__social-link {
  padding: 10px;
  width: 40px;
  height: 40px;
  display: block;
  color: $color-base-grey;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: $color-base-primary;
    background-color: $color-base-secondary;
  }

  &:active {
    color: $color-base-primary;
    background-color: $color-primary-opacity;
  }
}

.footer__title {
  font-weight: 700;
  color: $color-base-primary;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  color: $color-base-black;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer__address {
  font-style: normal;
}

.footer_phone {
  text-decoration: none;
  color: $color-base-black;
}

.footer__copyright-link {
  text-decoration: none;
  color: $color-base-grey;
  font-size: 12px;
  line-height: 16px;
}

.footer__copyright-logo-image {
  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    color: $color-primary-darker;
  }
}
