.form__filters-wrapper {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px 0;
    flex-direction: row;
  }

  @media (min-width: $desktop-width-max) {
    margin: 0;
    flex-direction: column;
  }
}

.form__group {
  margin: 0;
  padding: 0 0 25px 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 21px 0 0;
  }

  &--sorting {
    margin: 0 0 16px 0;

    @media (min-width: $tablet-width) {
      margin: 0 0 30px 0;
    }

    @media (min-width: $desktop-width-max) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.form__title {
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__poin-name {
  font-size: 16px;
  line-height: 24px;
}

.form__buttons-wrapper {
  margin: 0 auto 40px auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 316px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width-max) {
    margin: 0;
  }
}

.form__button {
  width: 160px;
  line-height: 24px;

  &--primary {
    margin: 0 0 25px 0;
    padding: 11px 15px;
    font-size: 13px;

    @media (min-width: $tablet-width) {
      margin: 0 30px 0 0;
      padding: 8px 3px;
      width: 150px;
    }

    @media (min-width: $desktop-width-max) {
      margin: 0 18px 0 0;
    }
  }

  &--secondary {
    padding: 11px 17px;
    font-size: 14px;

    @media (min-width: $tablet-width) {
      padding: 8px 6px;
      width: 138px;
    }
  }
}

.form__sorting {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-primary;
}
