.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__identity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  @media (min-width: $tablet-width) {
    padding: 4px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 20px 0 0;
  }
}

.header__logo-image {
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.header__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}
