.menu__navigation {
  display: none;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: $color-base-black;
}

.menu__link-enter {
  display: none;
}

.menu__link-basket {
  display: none;
}
