.promo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo__item {
  &--slide-1 {
    background-color: $color-flat-white;
  }

  &--slide-2 {
    background-color: $color-lavender-latte;
    display: none;
  }

  &--slide-3 {
    background-color: $color-espresso;
    display: none;
  }
}

.promo__slider-wrapper {
  padding: 20px 20px 60px 20px
}

.promo__new {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-base-primary;
}

.promo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.promo__old-price {
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $color-base-primary;
}

.promo__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.promo__button {
  width: 113px;
  font-size: 16px;
  line-height: 24px;
}

.promo__toggle-button {
  display: none;
}
